body {
    
    background-image: url("https://wallpapers.com/images/hd/star-wars-background-62aczam5f195c36n.jpg");
    background-color: #cccccc;
    background-repeat: no-repeat;
    background-size: cover;
    /*opacity: 0.75; */
  }

  h1 {
    font-family: sans-serif;
    text-align: center;
    color: white;
    font-size: 25px;
     }
  
  /* .instructions-container {
      display: flex;
      align-content: stretch;
      flex-direction: column;
      opacity: 2;
    } */

   .buttons-container {
    text-align: center;  
    display: inline-block;
   }
  
   #Board-container {
     display: grid;
     justify-content: center;
     width: 750px; 
     height: 750px;
     grid-template-columns: auto auto auto auto auto;
     column-gap: 50px;
     margin-left: 30%;

  }

  .right-side {
    height: 150px;
    width: 150px;
    margin: 25px 50px;
    background-color: rgb(white);
    color: blue;
    border-color: 0 0 10px rgba(188, 7, 46, 0.834);
    border-width: 5px;
    text-align:center;
    display: inline-block;
    border-radius: 50px;
    display:center;
    box-shadow: rgb(17, 6, 167);
  }
 
  button {
    height: 150px;
    width: 150px;
    margin: 25px 50px;
    background-color: rgb(white);
    color: blue;
    border-color: rgb(17, 6, 167);
    border-width: 5px;
    text-align:center;
    display: inline-block;
    border-radius: 50px;
    display:center;
    box-shadow: 0 0 10px rgba(188, 7, 46, 0.834);
  }

  .each-card.flipped {
    transform: rotateY(180deg);
    transition: transform 1500ms;
    transform-style: preserve-3d;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    border-radius:10px;
  }

  .each-card {
    position: relative;
    width: 100px;
    height: 100px;
    float:left;

    /*Do it with flexbox or grid for above, once code is working, can play around*/

  }
  .each-card>img {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;

  }

  /*make animation in future - smooth flip, not essential */
  .each-card>img:last-child {
    transform: rotateY(180deg);
  }

  /*hexagon card*/
  .each-card>img:first-child {
    z-index: 1;
  }

  /*use flexbox for styling cards*/

    /*character card*/
  .each-card.flipped>img:last-child {
    z-index: 2;
  }
   /* .img, .img2 {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    transform: rotateY  (180deg);
    border-radius: 15px;
    width: 100%;
    height: 100%;
    transform-style: preserve-3d;
  /*  backface-visibility: hidden; */
     


  .img2 {
    transform: rotateY(180deg);
  }
  
  img {
    width: 100%;
    height: 100%;
 }

 .flipCard {
  transform: rotateY(180deg);
}

/*.card-holder {
  font-size: 25px;
}

#card-holder {
  padding: 50px 200px
 }

  /* alternative image link for background 
  /* background-image: url("https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcThRQ6Sox1pTQTdELzJP3SSXi0vVL15yfNLTQ&usqp=CAU");

  .container{
  width:1000px;
  margin:0 auto;
  display:flex;
  justify-content: space-between;
}
button{
  &:focus{
    outline:none;
  }

.face {
  position: absolute;
  width: 100%;
  height: 100%;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  background-color:whitesmoke;  
  border-radius:10px;
}
.front, .back{
  transition: all .5s linear;
}
.front{
  background-image:url('https://i.imgur.com/W3tra4F.gif');
  z-index:1;
  box-shadow: 5px 5px 5px #aaa;
}
.back{
  box-shadow: 0 0 0 #aaa;
}